Host *
    IdentitiesOnly yes

Match host *gitlab* exec "pwd | grep -q 'developer/work/'"
    IdentityFile /Users/stijn/.ssh/identities/work/ssh1-gitlab
    User sklomp
    AddKeysToAgent yes

#Host gitlab.com
#    IdentityFile /Users/stijn/.ssh/identities/personal/ssh1-github
#    User git
#    AddKeysToAgent yes

Host github.com
    IdentityFile /Users/stijn/.ssh/identities/personal/ssh1-github
    User git
    AddKeysToAgent yes
